$bg : #98ff65;
$size : 30vh;

*{ box-sizing:border-box;}

.c {
  width: $size+2;
  height: $size+2;
  position: absolute;
  bottom: -$size/1.8;
  left: 0;
  border-radius: 43% 40%  43% 40%;
  background: #1578b0;
  animation: 
    bounce 1s infinite alternate,
    wave 2s infinite linear, 
    waking 7s infinite alternate linear;
  &-e {
    width: $size/6;
    height: $size/6;
    border: $size/23 solid #fff;
    transform: translateY(0);
    border-radius: 50%;
    animation: blink 4s infinite linear;
  }
  &-c {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: $size - 6;
    bottom: $size/10;
    z-index: 1;
    left: $size/4;
    padding: 0 ($size/$size - 0.2vw);
    z-index: 1;
    animation: waking 7s infinite alternate linear;
  }
}

@keyframes wave {
  100% { transform: rotate(360deg); }
}

@keyframes waking {
  100% { left: calc(100% - #{$size}); }
}

@keyframes bounce {
  100% { bottom: -$size/1.5; }
}

@keyframes blink {
  0%, 5%, 30%, 37%, 100% { 
    height: $size/6; 
    border-width: $size/22; 
    transform: translateY(0); 
  }
  3%, 33% {
    height: 0; 
    border-width: 0; 
    transform: translateY(-$size/10); 
  }
}
