body {
  background: #000;
}

.game {
  width: 280px;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
/*   outline: 1px solid #000; */
}

.ghost {
  width: 100px;
  height: 80px;
  background: #D62828;
  border-radius: 50px 50px 0 0;
  
  position: relative;
  float: right;
  
  animation: gfoot .8s .5s infinite;
}

.gcircle, .eye, eb {
  position: absolute;
}

.gcircle {
  width: 35px;
  height: 35px;
  background: #D62828;
  border-radius: 50%;
  
  animation: gfoot .5s infinite;
}
.g1, .g2, .g3 {
  bottom: -20px;
}
.g2 {
  left: 33px;
}
.g3 {
  right: 0;
}

.eye {
  width: 25px;
  height: 30px;
  border-radius: 25px;
  background: #fff;
}

.eb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  margin-top: 8px;
  margin-left: 10px;
}

.eye1 {
  top: 30px;
  left: 15px;
}
.eye2 {
  top: 30px;
  left: 55px;
}


.pacman {
  width: 100px;
  height: 100px;
  float: left;
}

.mantop, .manbtm {
  width: 100px;
  height: 50px;
  background: #fd0;
}

.mantop {
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  transform-origin: bottom;
  animation: mantop .5s infinite;
}
.manbtm {
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform-origin: top;
  animation: manbtm .5s infinite;
}

.dotbox {
  width: 110px;
  height: 15px;
  position: relative;
  top: 58px;
  left: 60px;
}

.dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%; 
  position: absolute;
  animation: dgo .8s infinite;
}

.d1 {
  right: 0;
}
.d2 {
  right: 30px;
}
.d3 {
  right: 60px;
}







/*-----以下是動畫-----*/

@keyframes mantop {
  from {
    transform: rotate(-40deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes manbtm {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(0);
  }
}




@keyframes gfoot {
  0% {
    transform-origin: top;
    transform: skewX(0deg);   
  }
  50% {
    transform-origin: top;
    transform: skewX(-3deg);
  }
  100% {
    transform-origin: top;
    transform: skewX(0deg);
  }
}

@keyframes dgo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30px);
  }
}
