.ep-1{
 background-color: lightgrey;
}
ep-code{
 font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
 padding: 2px 4px; 
 font-size: 90%;
 color: #C7254E;
 background-color: #F9F2F4;
 border-radius: 4px;
}
ep-pre{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
 display: block;
 padding: 9.5px;
 margin: 0 0 10px;
 font-size: 13px;
 line-height: 1.42857143;
 color: #333;
 word-break: break-all;
 word-wrap: break-word;
 background-color: #1e90ff;
 border: 1px solid #CCC;
 border-radius: 4px;
 overflow: auto;
}
.ep-table{
  border-radius: 10px;
}
td{
  border-radius: 5px;
}
th{
  border-radius: 3px;
}
.ep-1{
    
    width: 30%;
}

.e-knopka
{
  display: inline-block;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #a1a1a1;
  padding: 0 2em;
  margin: 0.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  border-radius: .2em;
}
.e-knopka:before
{
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.7em;
  margin: 0 0.5em 0 -1em;
  padding: 0 .2em;
  pointer-events: none;
}
.play:before  { content: "\25B6"; }
